.nav a{
    font-size: 1.8em !important;
    }
.navbar-brand{
  font-size: 2em !important;
}
.title{
  font-family: Cookie;
}
.header {
  background-color:rgba(255,255,254,1);
  padding: 1em 1em 1em 1em;
}
#about{
  background-color:rgba(255,255,254,1);
  padding:10em 2em 10em 2em;
}
.products{
  background-color:rgba(255,255,254,1);
}
.footer{
  background-color:rgba(0,51,85,1);
  color: ivory;
}
.footer a{
  color: ivory;
}
.social{
  margin-top: 10em;
}
.downArrow{
  position:absolute;
  margin-left:-10px;
  margin-bottom:1em;
  left:50%;
  bottom:0;

}
a{
  text-decoration: none;
  color:black;
}
p {
  font-size: 1.1em;
}
